* {
  margin: 0;
  padding: 0;
}

.body-container {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding-left: 10%;
  padding-right: 10%;
  
}

.main-logo {
  font-size: 35px;
  font-weight: bold;
  /* margin-left: 10%; */
  /* padding-top: 10px; */
}

.navbar-li{
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle;
  height: fit-content;
  cursor: pointer;
  user-select: none;
 }

 
